body{
margin: 0px;
fontfamily: Arial, Helvetica, sans-serif;
text-align: left;
font-size: 12px;
}
#main{
width: 100%;
}
#banner{
position: absolute;
width: 100%;
height: 850px;
left: 0px;
top: 0px;
background-image: url(../img/bg.png);
}
#bannertext{
position: absolute;
/*width: 804px;*/
width: 50%;
height: 68px;
/*left: 558px;*/
left: 25%;
top: 362px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 142.7%;
/* or 68px */
text-align: center;
color: #735440;
}
#bannerbutton{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 31px;
position: absolute;
/*width: 160px;*/
width: 10%;
height: 55px;
/*left: 880px;*/
left: 45%;
top: 550px;
background: #57984C;
border: None;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 142.7%;
/* identical to box height, or 23px */
text-align: center;
letter-spacing: 0.07em;
text-transform: uppercase;
color: #FFFFFF;
}
#logo{
position: absolute;
width: 226px;
height: 113px;
/*left: 388px;*/
left: 10%;
top: 20px;
background: url(../img/Logo.png);
mix-blend-mode: darken;
}
#search{
border: None;
background: None;
position: absolute;
/*width: 350px;*/
width: 20%;
height: 22px;
/*left: 1165px;*/
left: 60%;
top: 20px;
}
#ico_search{
background: None;
position: absolute;
width: 18px;
height: 18px;
/*left: 1497px;*/
left: 80%;
top: 21px;
}
#line{
position: absolute;
width: 20%;
/*left: 1497px;*/
left: 60%;
top: 42px;
}
#head_links{
position: absolute;
/*width: 499px;*/
width: 29%;
height: 26px;
/*left: 1016px;*/
left: 55%;
top: 91px;

font-family: 'Heebo';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: right;
color: #324950;
}
#head_link{
padding-left:10px;
padding-right:10px;
background: None;
}
#products{
position: absolute;
width: 100%;
height: 190px;
left: 0px;
top: 850px;
background-image: url(../img/Rectangle 1.png);
}
#product{
position: relative;
top: 25px;
padding-left:3.5%;
padding-right:3.5%;
background: None;
}
#vision_mission{
position: absolute;
width: 100%;
height: 1147.84px;
left: 0;
top: 1011.16px;
background: #e9e9e9 url(../img/Union.png);
}
#image_1{
position: absolute;
left: 50%;
top: 0;
}
#image_2{
position: absolute;
left: 15%;
top: 589px;
}
#vision_head{
position: absolute;
width: 197px;
height: 91px;
left: 18%;
top: 100px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
color: #324950;
}
#vision_text{
position: absolute;
width: 25%;
height: 132px;
left: 18%;
top: 200px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 162.7%;
color: #324950;
}
#mission_head{
position: absolute;
width: 197px;
height: 91px;
left: 60%;
top: 650px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
color: #324950;
}
#mission_text{
position: absolute;
width: 25%;
height: 132px;
left: 60%;
top: 750px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 162.7%;
color: #324950;
}
#main_active{
position: absolute;
width: 100%;
height: 640px;
left: 0px;
top: 2158px;
background: #e9e9e9;
}
#ma_head{
position: absolute;
width: 60%;
height: 91px;
left: 30%;
top: 50px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 142.7%;
color: #324950;
}
#image_4{
position: absolute;
left: 20%;
top: 150px;
}
#image_5{
position: absolute;
left: 45%;
top: 130px;
}
#image_3{
position: absolute;
left: 65%;
top: 170px;
}
#ma_caption_4{
position: relative;
width: 18%;
height: 34px;
left: 24%;
top: 380px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;
color: #57984C;
}
#ma_caption_5{
position: absolute;
width: 18%;
height: 34px;
left: 46%;
top: 380px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;
color: #57984C;
}
#ma_caption_3{
position: absolute;
width: 18%;
height: 34px;
left: 68%;
top: 380px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 142.7%;
color: #57984C;
}
#ma_text_4{
position: absolute;
width: 12%;
height: 52px;
left: 23%;
top: 440px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;
text-align: center;
color: #324950;
}
#ma_text_5{
position: absolute;
width: 12%;
height: 52px;
left: 45%;
top: 440px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;
text-align: center;
color: #324950;
}
#ma_text_3{
position: absolute;
width: 12%;
height: 52px;
left: 67%;
top: 440px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 142.7%;
text-align: center;
color: #324950;
}
#footer_bottom{
position: absolute;
width: 100%;
height: 127px;
left: 0px;
top: 2798px;
background: #324950;
}
#footer_top{
position: absolute;
width: 100%;
height: 76px;
left: 0px;
top: 0px;

background: #2D3F45;
}
#footer_text{
position: absolute;
width: 18%;
height: 20px;
left: 45%;
top: 95px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 142.7%;
color: #B9B9B9;
}
#footer_links{
position: absolute;
width: 55%;
height: 26px;
left:15%;
top: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 142.7%;
color: #FFFFFF;
}
#footer_link{
position: relative;
padding-left:2%;
padding-right:2%;
background: None;
}
#footer_links_img{
position: absolute;
width: 55%;
height: 26px;
left:75%;
top: 28px;
}
#Tall_banner{
position: absolute;
width: 100%;
top: 122px;
}
#Tall_main{
position: absolute;
width: 100%;
top: 402px;
height: 2444px;
background: #FCF0F0;
}
#Tall_head{
position: absolute;
width: 60%;
height: 63px;
left: 25%;
top: 51px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 142.7%;
color: #324950;
}
#Tall_text{
position: relative;
width: 60%;
left: 20%;
padding-left: 5%;
top: 120px;
padding-top: 25px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}
#Tall_redline1{
position: absolute;
width: 4px;
height: 60px;
left: 25%;
top: 513.5px;
background: #EB5757;
}
#Tall_readline1_text{
position: absolute;
width: 55%;
left: 27%;
top: 513.5px;;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 150%;
color: #324950;
}
#Tall_box{
position: absolute;
width: 62%;
height: 449.5px;
left: 23%;
top: 603.5px;

background: #FFFAFA;
}
#Tall_box_caption1{
position: absolute;
width: 30%;
left: 2%;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 150%;
color: #324950;
}
#Tall_box_text1{
position: absolute;
width: 30%;
left: 2%;
top: 16%;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 150%;
color: #324950;
}
#Tall_box_caption2{
position: absolute;
width: 30%;
left: 35%;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 150%;
color: #324950;
}
#Tall_box_text2{
position: absolute;
width: 30%;
left: 35%;
top: 16%;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 150%;
color: #324950;
}
#Tall_box_caption3{
position: absolute;
width: 30%;
left: 68%;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 150%;
color: #324950;
}
#Tall_box_text3{
position: absolute;
width: 30%;
left: 68%;
top: 16%;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 150%;
color: #324950;
}
#Tall_redline2{
position: absolute;
width: 4px;
height: 40px;
left: 25%;
top: 1087.5px;
background: #EB5757;
}
#Tall_readline2_text{
position: absolute;
width: 55%;
left: 27%;
top: 1087.5px;;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 150%;
color: #324950;;
}
#Tall_images{
position: absolute;
width: 60%;
left: 25%;
top: 1125px;
height: 1000px;
}
#Tall_image{
width: 330px;
height: 300px;
position: relative;
padding-left: 2%;
padding-top: 2%;
}